body section.content {
    padding-left: 12em;
}

span.note {
    display: inline;
    width: 10em;
    font-size: 0.8em;
    font-weight: normal;

    margin-left: -14em;
    float: left;
    clear: both;
}

/* HACK; FIXME */
@media print {
    body section.content {
	padding: 0;
    }
    span.note {
	display: none;
    }
}

pre {
    font-family: Inconsolata;
    font-size: 0.9em;
    margin: 2em;
}

.smallcaps {
    /*text-transform: lowercase;
    font-variant: small-caps;*/
    font-size: 0.8em;
}

code, .code {
    font-family: Inconsolata;
    font-size: 0.9em;
    font-style: normal;
}

h3 {
    margin: 1em 0;
    font-weight: bold;
}

h4 {
    margin: 1em 0 0 0;
    text-decoration: underline;
}

.item {
    margin-right: 1em;
}

.var {
    font-style: italic;
}
.math .constant { font-style: normal; }
.var { font-style: italic; }
.st { font-style: normal; font-weight: bold; color: brown; }
.pred_name, .keysof { font-family: "Arial"; font-size: 0.8em; color: green; }

.cond:before, .command:before, .set:before {
    content: "{";
    font-style: normal;
    font-family: "Minion Pro";
    font-size: 1em;
    margin: 0 0.2em;
}

.cond:after, .command:after, .set:after {
    content: "}";
    font-style: normal;
    font-family: "Minion Pro";
    font-size: 1em;
    margin: 0 0.2em;
}

.cond {
    color: blue;
}

sub {
    font-size: 0.6em;
    margin-bottom: -0.2em;
}

div.display, div.displaymath, table.displaymath {
  margin: 2em 0 2em 2em;
}

.indent1 {
  padding-left: 2em;
}

.generated_listing {
  overflow: hidden;
}

div.indent { padding-left: 2em; }